.Gallery {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
    grid-gap: 20px;
}

.Position {
    background-color: darkorange;
    border: none;
    color: white;
    padding: 12px 0px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
  }

.Position:hover {
    background-color: #cc5500;
}